:root {
    --primary-color: #3D6347;
    --secondary-color: #E9A8A5;
    --header-height: 76px;
}

body{
    margin: 0;
    font-family: 'Bad Script', cursive;
    font-size: 1.5rem;
}
.background {
    background: url(../img/background.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

header {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   list-style-type: none; 
}

.container a {
    color: var(--primary-color)
}

a {
    text-decoration: none;
}

.logo {
    padding: 0 32px;
}

.top-navbar {
    display: flex;
    align-items: center;
}

.navbar-item {
    margin: 0 1rem;
}

main {
    height: calc(100vh - var(--header-height));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.centered {
    padding: 1.8rem;
} 

button {
    font-family: inherit;
    background-color: var(--secondary-color);
    font-size: 1.5rem;
    padding: 14px 40px;
    border-radius: 12px;
    color: var(--primary-color);
    text-decoration: none;
}

button:hover {
    background-color:var(--primary-color);
    color:var(--secondary-color);
}

button a {
    color: var(--primary-color);
}

button:hover a {
    color: var(--secondary-color);
}
